html {
    background-color: #CAE5FF;
    color: #6c3d4c;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 3px 2px 2px rgba(199, 130, 59, 0.15);
    -ms-overflow-style: none;  /* Hide scrollbar for Internet Explorer and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
    scroll-behavior: smooth; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin-top: 50px;
    font-size: larger;
    font-weight: bolder;
}

.websites {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.website {
    display: block;
    width: 400px;
    height: 200px;

    border-radius: 5px;

    filter: blur(2px);

    border: 5px solid aqua;
    border-color: #4381C1;
    transition: all 0.3s ease-in-out;

    cursor: pointer;
}

.website:hover {
    filter: blur(0px);
    width: 430px;
    height: 230px;
}

.website img {
    width: 100%;
    height: 100%;
}

.website h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aqua;
    font-size: large;
    text-shadow: 3px 2px 2px rgb(14, 182, 182);
    filter: blur(0px);
}